#
# Author        :Julio Sanz
# Website       :www.elarraydejota.com
# Email         :juliojosesb@gmail.com
# Description   :Format conversor
# Dependencies  :ffmpeg
# Usage         :Drag and drop the file you want to convert
# License       :GPLv3
#

[Desktop Entry]
Name=video_convert_mp4_to_avi
Exec=bash -c "$(dirname %k)/conversion_scripts/video_convert_mp4_to_avi.sh %U"
Terminal=true
Type=Application